<!-- MY Product tabs -->
{% if product.metafields.copycat.the_what || product.metafields.copycat.the_why || product.metafields.copycat.the_how || product.metafields.copycat.the_details %}
  <div id="copycat-tabs">
    <!-- MY Tab navigation -->
    <ul class="fd-product-tabs">
      {% if product.metafields.copycat.the_what %}
        <li><a href="#copycattab-the-what">The What</a></li>
      {% endif %}
      {% if product.metafields.copycat.the_why %}
        <li><a href="#copycattab-the-why">The Why</a></li>
      {% endif %}
      {% if product.metafields.copycat.the_how %}
        <li><a href="#copycattab-the-how">The How</a></li>
      {% endif %}
      {% if product.metafields.copycat.the_details %}
        <li><a href="#copycattab-the-details">The Details</a></li>
      {% endif %}
    </ul>

    <!-- MY Tab panes -->
    <div class="fd-product-tab-content">
      {% if product.metafields.copycat.the_what %}
        <div class="fd-product-tab-pane" id="copycattab-the-what">
          {{ product.metafields.copycat.the_what }}
        </div>
      {% endif %}
      {% if product.metafields.copycat.the_why %}
        <div class="fd-product-tab-pane" id="copycattab-the-why">
          {{ product.metafields.copycat.the_why }}
        </div>
      {% endif %}
      {% if product.metafields.copycat.the_how %}
        <div class="fd-product-tab-pane" id="copycattab-the-how">
          {{ product.metafields.copycat.the_how }}
        </div>
      {% endif %}
      {% if product.metafields.copycat.the_details %}
        <div class="fd-product-tab-pane" id="copycattab-the-details">
          {{ product.metafields.copycat.the_details }}
        </div>
      {% endif %}
    </div>
  </div>
{% else %}
<!-- None of MY Product Tabs Showing -->
{% endif %}
